.contenedor {
    color: rgb(177, 177, 177);
    background-color: rgb(240, 240, 240);
    display: grid;
    grid-template-columns: 1fr 2fr 3fr 4fr;
    

    /*px, auto, %, Fr, rem*/
    grid-template-rows: auto auto auto auto auto auto auto auto auto auto auto;
    gap: 10px;
}
 


.item {
    background-color: white;
    font-size: 24px;
    text-align: center;
    padding: 10px;

}

.encabezado {
    grid-column-start: 1;
    grid-column-end: 5;
    display: flex;
    justify-content: space-between;
    padding-left: 30px;
    padding-right: 30px;

}

/*
Esta es de ChatGPT
*/
.encabezado img {
    max-width: 100%;
    height: auto;
}


.encabezado2 {
    background-color: rgb(240, 240, 240);
    grid-column-start: 1;
    grid-column-end: 5;
    grid-row-start: 2;
    grid-row-end: 3;
    display: flex;
    justify-content: space-between;
    padding-left: 30px;
    padding-right: 30px;
    color: #ee0000;
    font-size: 1.4rem;
    font-weight: 400;
}

.imagencard {
    width: auto;
    height: auto;
    object-fit: cover;

}

/*
de ChatGPT
*/
.imagencard {
    max-width: 100%;
    height: auto;
}



.f2 {
    /*categorias f2 f3*/
    grid-row-start: 4;
    grid-row-end: 6;
    grid-column-start: 4;
    grid-column-end: 5;
    background-color: rgb(240, 240, 240);
}

.escuderias {
    grid-row-start: 4;
    grid-row-end: 6;
    grid-column-start: 1;
    grid-column-end: 4;
    background-color: rgb(240, 240, 240);
}

.escuderias h3{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: black;
}
.escuderias img {
    width: 100px;
    height: 150px;
    
}

    .slider {
        width: 55vw;
        height: auto;
        margin: auto;
        overflow: hidden;
    }

    .slider .slide-track {
        display: flex;
        animation: scroll 40s linear infinite;
        -webkit-animation: scroll 40s linear infinite;
        width: calc(200px * 30);
        column-gap: 20px;
    }

    .slider .slide {
        width: 200px;
    }

    .slider .slide img {
        width: 100%;
    }
     .slider img{
        width: 100px;
        height: 150px;
     }

    @keyframes scroll {
        0% {
            -webkit-transform: translateX(0);
            transform: translateX(0);
        }
        100% {
            -webkit-transform: translateX(calc(-200px * 7));
            transform: translateX(calc(-200px * 7));
        }
    }

.pilotos {
    grid-row-start: 6;
    grid-row-end: 7;
    grid-column-start: 1;
    grid-column-end: 3;
    background-color: rgb(240, 240, 240);

}
.linkpilotos{
    text-decoration: none;
    color:#6c757d
}


.circuitos {
    grid-row-start: 6;
    grid-row-end: 7;
    grid-column-start: 3;
    grid-column-end: 4;
    background-color: rgb(240, 240, 240);

}

.resultados {
    grid-row-start: 7;
    grid-row-end: 8;
    grid-column-start: 1;
    grid-column-end: 3;
    background-color: rgb(240, 240, 240);
}

.calendario {
    grid-row-start: 7;
    grid-row-end: 8;
    grid-column-start: 3;
    grid-column-end: 4;
    background-color: rgb(240, 240, 240);

}

.notiescuderias {
    grid-row-start: 8;
    grid-row-end: 9;
    grid-column-start: 1;
    grid-column-end: 4;
    background-color: rgb(240, 240, 240);

}

.newsletter {
    grid-row-start: 6;
    grid-row-end: 8;
    grid-column-start: 4;
    grid-column-end: 5;
    background-color: rgb(240, 240, 240);
}

.tempasadas {
    grid-row-start: 9;
    grid-row-end: 10;
    grid-column-start: 1;
    grid-column-end: 4;
    background-color: rgb(240, 240, 240);

}

.populares {
    grid-row-start: 8;
    grid-row-end: 10;
    grid-column-start: 4;
    grid-column-end: 5;
    background-color: rgb(240, 240, 240);

}

p{
    font-size: 1rem;
    color:#333
}
.iconosredes{
    margin: 5px;
    text-decoration: none;
    color:#6c757d;
    padding: 15px;
    text-align: center;
    display: inline-flex;
    font-size: 1rem;
    border-color: #6c757d;
    border-style: solid;
    border-width: 2px;
    width: 15px;
    height: 15px;          
}

.navegacion {
    grid-row-start: 3;
    grid-row-end: 4;
    grid-column-start: 1;
    grid-column-end: 5;
    padding-left: 30px;
    padding-right: 30px;
}

html {
    font-family: "Roboto", sans-serif;
    line-height: 1.15;
    -webkit-text-size-adjust: 100%;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}


/*
Esta es de chatGPT
*/
body {
    font-size: 16px; /* Ajusta el tamaño de fuente base según tus preferencias */
    margin: 0;
    padding: 0;
}

p {
    margin-bottom: 1rem; /* Ajusta el espacio entre párrafos */
}


body {
    margin: 0;
    font-family: "Roboto", sans-serif;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #6c757d;
    text-align: left;
    background-color: #f2f2f2;
}

.navlink {
    text-align: left;
    margin: 5px;
    text-decoration: none;
    color: rgb(77, 74, 74);
    padding: 15px;
    text-align: left;
    display: inline-flex;
    --ms-text-justify: auto;
    font-size: 1rem;

}

.home {
    text-align: left;
    margin: 5px;
    text-decoration: none;
    color: white;
    background-color: #ee0000;
    padding: 15px;
    text-align: left;
    display: inline-flex;
    --ms-text-justify: auto;
    font-size: 1rem;

}
.iconos a:hover{
    color:white;
    background-color:#6c757d;
}

nav a:hover {
    background-color: #ee0000;
    color: whitesmoke
}

.linkform {
    color: #ee0000;
    text-decoration: none;

}
.clockdate-wrapper {
    background-color: white;
    padding: 15px;
    max-width: 100px;
    width:100%;
    text-align:right;
    margin:auto;
    margin-top : 20px;	
}
#clock{
    background-color:#fff;
    font-family: sans-serif;
    font-size: 30px;
    text-shadow:0px 0px 1px #333;
    color:#333
}
#clock span {
    color:#333;
    font-size:10px;
    position:absolute;
    top: -27px;	
}
#date{	
    font-size:14px;
    font-family:arial,sans-serif;
    color:#333;
}
.pie {
    grid-area: 10/ 1/ 11/ 5;
    /* 5/ 1/ span 1/ span3/*/
    

  
}


/*
De chat GPT
*/
.pie {
    text-align: center;
}



.pie {
    grid-area: 10/ 1/ 11/ 5;
    /* 5/ 1/ span 1/ span3/*/ 
}


.primerfooter{
    text-align: left;
    border: #6c757d;
    height: 200px;
    width: 370px;
    
}

.segundofooter{
    background-color: rgb(240, 240, 240);
}
/* estilos de la columna de footer que no pude ubicar
.segundofooter{
    
    height: 200px;
    width: 370px;
    text-align: left;
    text-decoration: none;
    
    
}
*/
.linksinteres{
    text-decoration: none;
    color:#333;
    font-size: 1.3rem;   
}
h4{
    color:#333;
    font-weight: bold;
}
.gruponumber{
    font-weight: bold;
    text-align: center;
    text-decoration: none;
    color:#ee0000;
    font-size: 1rem;
    
}


.contenedor1{
    background-color:white ;
    display: grid;
    grid-gap: 5px;
    grid-template-columns: repeat(4, 1fr);/* 1fr 1fr 1fr */  
	grid-template-rows: repeat(6, auto); /* auto auto auto auto*/
    margin-left: 30px;
    
    /*display:flex;
    flex-wrap:wrap;
    flex-direction: row;
    justify-content: space-evenly ;*/   
}
.galeria{
    padding: 50px;
}

.card{
    position:relative;
    width: 300px;
    height: 250px;
    flex-basis: 100%;
       
}


.card div{
    position:absolute;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    backface-visibility: hidden;
    transition: 1s;
}

.card .front{
    background-color: white;
    transform: perspective(500px) rotateY(0deg);

}
.card .back{
    background-color:#333;
    transform: perspective(500px) rotateY(180deg);
        
}
.card p{
    font-weight: bold;
}
.card:hover .front{
    transform: perspective(500px) rotateY(180deg);

}
.card:hover .back{
    transform: perspective(500px) rotateY(360deg);
    
}
.infopilotos{
    color:whitesmoke
}

.noticias{
    padding: 50px;
}
    .noticias h3{
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        color: black;
        font-size: 2rem;
    }

    .noticias p{
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        color: black;
        font-size: 1.2rem; 
    }

    .noticias h4{
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        color: black;
        font-size: 1.2rem;
    }
.historias {
    padding: 50px;
}
    .historias h1{
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        color: black;
        font-size: 3rem;
    }

    .historias h2{
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        color: black;
        font-size: 2.5rem;
    }

    .historias h3{
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        color: black;
        font-size: 2rem;
    }

    .historias p{
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        color: black;
        font-size: 1.2rem;
    }

    

 /*inicio slider*/
 
 
 .post-link{
    display:flex;
    min-height: auto;
    align-items: center;
    justify-content: center;
    padding: 30px 15px;
    font-size: 1rem;
 }

 .content{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-gap: 30px;
    max-width: auto;
    margin: auto;
    padding: 100px;
 }

 .post-img-1{
    background: url(/img/noticia1.jpg);
    width: 100%; 
    height: 200px;
    background-size:contain;
    background-position: center;
    transition: .2s;
 }

 .post-img-2{
    background: url(/img/noticia2.jpg);
    width: 100%; 
    height: 200px;
    background-size: contain;
    background-position: center;
    transition: .2s;
 }

 .post-img-3{
    background: url(/img/noticia3.jpg);
    width: 100%; 
    height: 200px;
    background-size: contain;
    background-position: center;
    transition: .2s;
 }

 .post-img-4{
    background: url(/img/noticia4.jpg);
    width: 100%; 
    height: 200px;
    background-size: contain;
    background-position: center;
    transition: .2s;
 }

 .post-img-5{
    background: url(/img/noticia5.jpg);
    width: 100%; 
    height: 200px;
    background-size: contain;
    background-position: center;
    transition: .2s;
 }

 .post-img-6{
    background: url(/img/noticia6.jpg);
    width: 100%; 
    height: 200px;
    background-size: contain;
    background-position:center;
    transition: .2s;
 }

 .post{
    box-shadow: 0 1px 6px 1px rgba(0, 0, 0, 1);
    /*overflow:hidden;*/
    transition: .2s;
 }

 .post:hover{
    transform: translateY(-4px);
    box-shadow: 0 1px 14px 2px rgba(0, 0, 0, .15);
 }

 .post-header{
    width: 100%;
    height: 200px;
    /*overflow:hidden;*/
    cursor: pointer;
 }

 .post:hover .post-img-1,
 .post:hover .post-img-2,
 .post:hover .post-img-3,
 .post:hover .post-img-4,
 .post:hover .post-img-5,
 .post:hover .post-img-6{
    transform: scale(1,1);
 }

 .post-body{
    padding: 15px;
    text-align: center;
 }

 .post-body span{
    display: inline-block;
    color: #999;
    margin-bottom: 10px;
    font-size: 0.8rem;
 }

 .post-body h2{
    margin-bottom: 15px;
    font-size: 1.5rem;
 }

 .post-body p{
    line-height: 1,5;
    margin-bottom: 20px;
    font-size: 1rem;

 }

 .post-body .post-link{
    display: block;
    text-decoration: none;
    padding: 10px;
    background:red;
    color: #fff;
    width: 50%;
    margin: auto;
    border-radius: 20px;
    box-shadow: 1px 2px 6px 1px rgba(0, 0, 0, .1);
 }

 .post-body .post-link:hover{
    background: red;
    box-shadow: 1px 2px 6px 1px rgba(0, 0, 0, .2);
    transform: translate(-2px);
 }

 @media (max-width: 840px){
    .content{
        grid-template-columns: repeat(2, 1fr);
    }
}
@media (max-width: 600px){
    .content{
        grid-template-columns: repeat(1, 1fr);
    }

}


/*
Aca probando el Newsletter
*/
.email-box{
    height: 40px;
    display: flex;
    justify-content: center;
    }
    
    .email-box i{
        background-color: #2f3542;
        width: 40px;
        line-height: 40px;
    
    }
    
    .tbox, .btn{
        border: none;
        outline: none;
    }
    
    .tbox{
        width: 0px;
        transition: 0.6s;
    }
    .email-box:hover > .tbox,.tbox:focus{
        width: 260px;
        padding: 0 10px;
    }
    
    .btn{
        background-color: #2f3542;
        color: white;
        padding: 0 10px;
        text-transform: uppercase;
        cursor: pointer;
    }



    /* Estilos para pantallas más pequeñas (móviles) */
@media screen and (max-width: 600px) {
    .contenedor {
        grid-template-columns: 1fr;
    }

    .item.encabezado2 {
        font-size: 1.2rem;
    }

    /* ... Agrega otras reglas de estilo específicas para pantallas pequeñas aquí ... */
}
